.header {
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
  margin-top: 5vh;
}
.main-header {
  align-items: center;
  font-family: PT Serif;
  font-size: 2.2rem;
  font-weight: 700;
  max-width: 278px;
  min-height: 47px;
  line-height: 2.8rem;
  letter-spacing: -0.045em;
}

.sub-header {
  margin-top: 2.2rem;
}

.sub-header-1 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  padding-bottom: 0.5rem;
  max-width: 180px;
  max-height: 27px;
}
.sub-header-2 {
  padding-top: 1rem;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 40ch;
  word-wrap: wrap;
}

.image {
  max-width: 138px;
  height: auto;
  border-radius: 5px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2vh;
}
.card {
  display: flex;
  flex-direction: column;
}

.designation {
  writing-mode: vertical-lr;
  float: right;
  font-family: PT Serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;
}
.name {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
}
.cards > * :hover {
  background: yellow;
  border-radius: 10px;
  translate: -5px 0;
}

@media screen and (min-width: 318px) and (max-width: 468px) {
  :nth-child(even of .card) {
    margin-top: 6vh;
  }
}

@media screen and (min-width: 469px) and (max-width: 618px) {
  .all {
    margin: 10vw;
  }
  .cards {
    margin-top: 4vh;
    column-gap: 10vw;
  }
  :nth-child(even of .card) {
    margin-top: 6vh;
  }
}

@media screen and (min-width: 619px) and (max-width: 825px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 4vw;
  }
  .image {
    max-width: 180px;
    height: auto;
    border-radius: 5px;
  }
  .all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 8vh 10vw;
  }
  .cards {
    margin-top: 4vh;
    justify-content: space-around;
  }
  :nth-child(even of .card) {
    margin-top: 6vh;
  }
}

@media screen and (min-width: 826px) and (max-width: 1080px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10vw;
  }
  .image {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
  }
  .all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 8vh 10vw;
  }
  .cards {
    margin-top: 4vh;
    justify-content: space-around;
  }
  .cards > :nth-child(3n-1) {
    margin-top: 6vh;
  }
}

@media screen and (min-width: 1081px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 25vw;
  }
  .image {
    max-width: 240px;
    height: auto;
    border-radius: 5px;
  }
  .all {
    width: 1081px;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .cards {
    margin-top: 4vh;
    justify-content: space-around;
    column-gap: 4vw;
  }
  .cards > :nth-child(3n-1) {
    margin-top: 6vh;
  }
}
